{% extends 'base.html' %}
{% block content %}

<div class="container-fluid p-4">

<h2>🥛 Milk Collection Entry</h2>

<div class="card p-4 mt-3 shadow">

<form method="POST">

<div class="row">

<div class="col-md-3">
<label>Farmer</label>
<select name="farmer" class="form-control" required>
{% for f in farmers %}
<option value="{{f.f_id}}">{{f.f_id}} - {{f.name}}</option>
{% endfor %}
</select>
</div>

<div class="col-md-2">
<label>Milk Qty (L)</label>
<input type="number" step="0.1" name="qty" id="qty" class="form-control" required>
</div>

<div class="col-md-2">
<label>Fat %</label>
<input type="number" step="0.1" name="fat" id="fat" class="form-control" required>
</div>

<div class="col-md-2">
<label>Session</label>
<select name="session" class="form-control">
<option>Morning</option>
<option>Evening</option>
</select>
</div>

<div class="col-md-3">
<label>Date</label>
<input type="date" name="date" class="form-control" required>
</div>

</div>

<div class="row mt-3">

<div class="col-md-3">
<label>Time</label>
<input type="time" name="time" class="form-control" required>
</div>

<div class="col-md-3">
<label>Live Amount ₹</label>
<input type="text" id="amount" class="form-control" readonly>
</div>

<div class="col-md-6 d-flex align-items-end">
<button class="btn btn-success w-50">Submit Collection</button>
</div>

</div>

</form>

</div>

<div class="card p-4 mt-4 shadow">

<h4>Recent Collections</h4>

<table class="table mt-3">
<tr>
<th>ID</th>
<th>Farmer</th>
<th>Qty</th>
<th>Fat</th>
<th>Session</th>
<th>Date</th>
<th>Time</th>
<th>Amount</th>
</tr>

{% for row in data %}
<tr>
<td>{{row.id}}</td>
<td>{{row.name}}</td>
<td>{{row.qty}}</td>
<td>{{row.fat}}</td>
<td>{{row.session}}</td>
<td>{{row.date}}</td>
<td>{{row.time}}</td>
<td>₹ {{row.amount}}</td>
</tr>
{% endfor %}

</table>

</div>

</div>

<script>
function calculate(){
    let qty = parseFloat(document.getElementById("qty").value) || 0
    let fat = parseFloat(document.getElementById("fat").value) || 0

    rate = 25 + (fat * 7)
    let amount = qty * rate

    document.getElementById("amount").value = amount.toFixed(2)
}

document.getElementById("qty").addEventListener("input", calculate)
document.getElementById("fat").addEventListener("input", calculate)
</script>

{% endblock %}